<html>
    <body>
			<h1 align = 'center'> Add Asset </h1>
			<table border="1">
				<tr>
			    <th>Asset Tag</th>
				  <th>Asset Description</th>
			  </tr>
				{% for entry in session.assets %}
				<tr>
		    	<td>{{entry.asset_tag}}</td>
			    <td>{{entry.description}}</td>
				</tr>
				{% endfor %}
      </table>
			<br>
			<form action="{{url_for('add_asset')}}" method='POST'>
		    Asset Tag:<br>
		    <input type='text' name='asset_tag'><br>
		    Description:<br>
		    <input type='text' name='description'><br>
		    Asset Location:<br>
		    <select name='facility_name'>
		        {% for entry in session.facilities %}
			<option value='{{entry.common_name}}'>{{entry.common_name}}</option>
			{% endfor %}
		    </select><br>
		    Asset Arrive:<br>
		    <input type='date' name='arrive', value='1000-01-01'><br>
		    <input type='submit' value='Submit'>
		 	</form>
		 	<br>
  	</body>
</html>
