<html>
    <body>
        <h2>Facility Inventory Report</h2>
        <table border="3">
            <tr>
                <th>Facility</th>
                <th>Asset Tag</th>
                <th>Description</th>
                <th>Arrival</th>
                <th>Departure</th>
            </tr>
            {% for entry in asset_data %}
                <tr>
                    <td>{{ entry.common_name }}</td>
                    <td>{{ entry.asset_tag }}</td>
                    <td>{{ entry.asset_description }}</td>
                    <td>{{ entry.arrive_dt }}</td>
                    <td>{{ entry.depart_dt }}</td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
        <a href="{{url_for('report_filter')}}">Reports</a>
        <br><br>
        <a href="{{url_for('logout')}}">Logout</a>
    </body>
</html>
