<html>
    <head><title>API Calls</title></head>
    <link rel="icon" 
href="https://classes.cs.uoregon.edu//17W/cis322/images/UOseal108.trans.gif">

    <body>
        <h1>API Calls</h1>
        <h3>lost_key</h3>
        <b>Request -</b> The request does not provide values for any of 
the arguments though the data and signature fields must be present in 
the request.<br>
        <b>Response -</b><br>
                <b>result</b> ‘OK’ or ‘FAIL’<br>
        <b>key</b> The LOST public key<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "result": "OK",
            "key": "bksaoudu......aoelchsauh"
        }</pre>

        <h3>activate_user</h3>
        <b>Request -</b><br>
        <b>username</b> OSNAP username to activate<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "username": "carter"
        }</pre>
        <b>Response -</b><br>
        <b>result</b> ‘OK’, ‘NEW’, or ‘FAIL’<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "result": "OK"
        }</pre>

        <h3>suspend_user</h3>
        <b>Request -</b><br>
        <b>username</b> OSNAP username to revoke<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "username": "jackson"
        }</pre><br>
        <b>Response -</b><br>
        <b>result</b> ‘OK’<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "result": "OK"
        }</pre>

        <h3>list_products</h3>
        <b>Request -</b><b>vendor</b> Case insensitive string to match 
against vendor name<br>
        <b>description</b> Case insensitive string to match against 
product description<br>
        <b>compartments</b> Security tags for the asset as a json array, 
all tags must be matched for compartment and level.<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "vendor": "",
            "description": "notepad",
            "compartments": []
        }</pre>
            <b>Response -</b><br>
                    <b>listing</b> A JSON list containing the product 
information entries<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "listing": [
                {
                    "vendor": "Dunder Mifflin",
                    "description": "LOST legal size notepad",
                    "compartments": []
                },
                {
                    "vendor": "big n large",
                    "description": "LOST legal size notepad"
                    "compartments": []
                }
            ]
        }</pre>

        <h3>add_product</h3>
        <b>Request -</b><br>
        <b>new products</b> A JSON list describing the new products <br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "new_products": [
                {
                    "vendor": "Dunder Mifflin",
                    "description": "LOST letter size notepad",
                    "alt_description": "Children’s storybook"
                    "compartments": ["adm:s"]
                },
                {
                    "vendor": "Stark Industries",
                    "description": "Micronized Arc Reactor",
                    "alt_description": "Baseball"
                    "compartments": ["nrg:ts","wpn:s"]
                }
        }</pre>
        <b>Response -</b><br>
        <b>result</b> ‘OK’, or ‘FAIL’ <br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "result": "OK"
        }</pre>

        <h3>add_asset</h3>
        <b>Request -</b><br>
        <b>vendor</b> Vendor of the product<br>
        <b>description</b> Description of the product<br>
        <b>compartments</b> Additional compartments the asset should be 
classified under<br>
        <b>facility</b> Facility code the asset is initially housed 
at<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "vendor": "Dunder Mifflin",
            "description": "LOST letter size notepad",
            "compartments": ["wpn:ts"],
            "facility": "HQ"
        }</pre>
        <b>Response -</b><br>
        <b>result</b> ‘OK’, or ‘FAIL’<br>
        Example:<pre>
        {
            "timestamp": "2017-02-02 06:15:13",
            "result": "OK"
        }</pre>
    </body>
</html>

